.partners {
    padding-bottom: rem(20);

    &__container {
    }

    &__title {
        text-align: center;

        @include adaptiveClamp(margin-bottom, 45, 30);
    }
    &__swiper {
        position: relative;
        max-width: rem(1160);
        margin: 0 auto;

        overflow: hidden;
        @include adaptiveClamp(padding-bottom,  80, 50);

    }
    &__row {
    }

    &__item {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        @include adaptiveClamp(row-gap, 71, 20);
        img {
            width: 100%;
        }
    }
    
}
.swiper-slide {
}

.swiper-pagination {
    bottom: rem(20);
}
.swiper-pagination-bullet {
    @include adaptiveClamp(width, 13, 7);
    @include adaptiveClamp(height, 13, 7);
}
// .swiper-pagination-bullet-active {
//     background: #292A74;
// }